@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@200;300;400;600;700;800;900&family=Lato:ital,wght@0,400;0,700;1,400&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap");

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main {
  display: flex;
  padding-top: 20px;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: linear-gradient(0deg, #84bbdb 0%, #84bbdb 100%);
  /* overflow: hidden; */
}

.input_container {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.16);
  box-shadow: 0px 32px 64px -12px rgba(16, 24, 40, 0.2);
  width: 860px;
  height: 117px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  border: none;
  height: 67px;
  width: 100%;
  outline: none;
  font-size: 23px;
  padding-left: 20px;
}

.shortn-btn {
  width: 180px;
  height: 55px;
  border-radius: 5px;
  background: #940e0e;
  box-shadow: 0px 32px 64px -12px rgba(16, 24, 40, 0.2);
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.input-wrap {
  width: 93%;
  height: 87px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 32px 64px -12px rgba(16, 24, 40, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}

.app-title {
  font-size: 40px;
  text-align: center;
  font-weight: 600;
}

.show-results {
  min-height: 153px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #e7e9f1;
  background: #fff;
  box-shadow: 0px 32px 64px -12px rgba(7, 27, 123, 0.66);
  padding: 10px 40px;
  /* overflow: scroll; */
}

.single-result {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  min-height: 153px;
}

.result-image {
  display: flex;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 60px;
  border: 1px solid #bdbdbd;
}

.copy {
  border-radius: 5px;
  border: 1px solid #f2f2f2;
  background: #f2f2f2;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 19px;
  color: #2f80ed;
  cursor: pointer;
  /* font-size: 20px; */
}

.link {
  font-size: 20px;
  line-height: normal;
  color: #4f4f4f;
  max-width: 500px;
  overflow: hidden;
}

.container {
  height: 50vh;
  overflow-y: scroll;
}

.search {
  margin-top: 20px;
  width: 830px;
  border-bottom: 1px solid #4f4f4f;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
}

.top-border {
  border-top: 1px solid #bdbdbd;
}

.redirect {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.delelte-btn {
  cursor: pointer;
}

.link-actions {
  display: flex;
  justify-content: space-around;
  margin-top: 3px;
}

.originalUrl {
  border-radius: 5px;
  background: rgba(135, 188, 219, 0.3);
  color: green;
  padding: 10px 50px 10px 9px;
  word-break: normal;
  word-wrap: normal;
  margin-top: 10px;
}

.not-found {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.space-top {
  margin-top: 20px;
}